/AutomatedTellerMachine.class
/CurrencyExchanger.class
/TestATM.class
/InputTest.class
/Application.class
/ApplicationTest.class
/ATM.class
/ATMTest.class
/Tuple.class
/UnsupportedCurrencyCodeException.class
